<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<div class="container">
    <h2><strong>John Doe</strong></h2>
    <table class="table" summary="layout" width="80%" cellspacing="0" cellpadding="8" border="0">
        <tbody>
            <tr valign="top">
                <td width="33%">Home: 444-444-4444<br>
                    Male &nbsp;DOB: 04/04/1950</td>
                <td width="33%" valign="bottom">0000-44444</td>
                <td width="34%" valign="bottom">Ins: Commercial xxxxx</td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("See Health Info", "PatientHealthInfo", "PatientHealth", new { }, new{@class="btn btn-info"})
</div>
